:root {
  --dark-bg: #388087;
  --light-bg: #F6F6F2;
  --primary-color: #4f989e;
  --secondary-color: #BADFE7;
  --third-color: #C2EDCE;

  --text-white: #1f1f1f;
  --text-black: #000000;
  --text-gray: #555555;
  --title-color: #221577;
  --border-color: #6a55f8;
  --border-color-dark: #27263a;
  --border-color-light: #6a55f8;
  --shadow: 10px 12px 48px rgba(181, 187, 203, 0.206);
}

html {
  box-sizing: border-box;
}

body {
  color: var(--text-white);
  margin: 0 !important;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 !important;
  touch-action: pan-y, pan-x;
  transition: all 0.4s cubic-bezier(0.57, 0.25, 0.33, 1) 0s;
  margin: 0;
}
.App {
 position: relative;
 background-color: var(  --primary-color);
 height: auto;
 
}

